<div class="row">
    <div class="col-md-12">
        <h4>{{unit.name}}</h4>
        <p *ngIf="unit.description">{{unit.description}}</p>
        <div class="row">
            <div *ngIf="unit.examinations.length < countExaminations.length" class="col-md-10">
                <button (click)="go()" class="btn btn-block btn-sm btn-primary">{{text}}</button>
            </div>
            <div class="col-md-2">
                <div *ngFor="let number of countExaminations;"
                     class="circle"
                     title="{{unit.examinations.length}} попытка c 3"
                     [ngClass]="{'circle-filled': number <= unit.examinations.length }"></div>
            </div>
        </div>
        <hr>
    </div>
</div>