.circle {
    float: left;
    margin-left: 2px;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #1b6d85;
    /* width and height can be anything, as long as they're equal */
}

.circle-filled {
    background-color: #2ab27b;
}