<div class="row">
    <div *ngFor="let lesson of lessons.data" class="col-md-12">
        <lesson [lesson]="lesson"></lesson>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pagination [paginator]="lessons"></pagination>
    </div>
</div>