<div class="container">
    <div class="row">
        <div class="col-md-6 authentication">
            <h3 class="text-center">Вхід</h3>
            <form novalidate [formGroup]="SignIn" (ngSubmit)="onSubmit(SignIn.value)">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email"
                               name="email"
                               formControlName="email"
                               required
                               class="form-control"
                               id="inputEmail"
                               placeholder="Email">

                        <div *ngIf="SignIn.controls['email'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="SignIn.get('email').hasError('required')">Поле обов'язкове для заповнення
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="SignIn.get('email').hasError('email')">Введіть коректний email
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password"
                               required
                               name="password"
                               formControlName="password"
                               class="form-control"
                               id="inputPassword"
                               placeholder="пароль">
                        <div class="alert alert-danger"
                             *ngIf="!SignIn.controls['password'].valid && SignIn.controls['password'].touched">Поле обов'язкове для заповнення
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button [disabled]="!SignIn.valid"
                                type="submit"
                                class="btn btn-primary">Війти
                        </button>
                        або
                        <a [namedRoute]="'signup'">Реєстрація</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>