<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a routerLink="/panel/">Головна</a>
    <a (click)="logout()" href="#">Вихід</a>
    <!--
        <a routerLink="/panel/account/settings" class="dropdown-item">Профиль</a>
        <button (click)="logout()" class="dropdown-item">Выйти</button>
    -->
</nav>