<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Аккаунт</h3>
            <form novalidate [formGroup]="Account" (ngSubmit)="update(Account.value)">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Пароль</label>
                    <div class="col-sm-8">
                        <input type="password"
                               name="password"
                               formControlName="password"
                               class="form-control"
                               id="inputPassword"
                               placeholder="пароль">

                        <div *ngIf="Account.controls['password'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="!Account.controls['password'].valid">Поле обязательно для заполнения
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="Account.get('password').hasError('minlength')">Минимальная длина
                                {{Account.get('password').getError('minlength').requiredLength}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordConfirmation" class="col-sm-4 col-form-label">Повторный пароль</label>
                    <div class="col-sm-8">
                        <input type="password"
                               name="password"
                               formControlName="password_confirmation"
                               class="form-control"
                               id="inputPasswordConfirmation"
                               placeholder="повторите пароль">

                        <div *ngIf="Account.controls['password_confirmation'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="!Account.controls['password_confirmation'].valid">Поле обязательно для
                                заполнения
                            </div>
                            <div class="alert alert-danger"
                                 *ngIf="Account.get('password').value !== Account.get('password_confirmation').value">
                                Пароли не совпадают
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-4 col-sm-8">
                        <button [disabled]="!Account.valid" type="submit" class="btn btn-primary btn-block">Обновить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>