<ngx-loading-bar></ngx-loading-bar>
<div class="row">
    <div class="col-md-2 dashboard-navigation">
        <dashboard-navigation></dashboard-navigation>
    </div>
    <div class="col-md-10 dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>