<div class="row">
    <div class="col-md-12">
        <h4>{{lesson.name}}</h4>
        <p *ngIf="lesson.description">{{lesson.description}}</p>
        <a [namedRoute]="'units'" [namedRouteParams]="routeConfig">Теми</a>
    </div>
</div>