<div class="course">
    <div class="info">
        <div class="name">
            <h3>
                {{course.name}}
            </h3>
        </div>
        <div *ngIf="course.description" class="description">
            <h6>
                {{course.description}}
            </h6>
        </div>
    </div>
    <div class="link">
        <a [namedRoute]="'lessons'" [namedRouteParams]="{'id': course.id}">Уроки</a>
    </div>
</div>