.course {
    display: block;
    width: 100%;
    padding: 20px;
    border-left: 5px solid;
    position: relative;
    z-index: 2;
    border-left: 10px solid #3498db;
    text-decoration: none;
    color: #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.course:hover {
    border-bottom: 0;
    color: #fff;
}

.course:after {
    content: "";
    height: 100%;
    background: #3498db;
    left: 0;
    top: 0;
    width: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

.course:hover:after {
    width: 100%;
}

.course .link {
    color: #f0776c;
}*/