<div class="row">
    <h1>Курси</h1>
</div>

<div class="row">

    <div *ngFor="let course of courses.data" class="col-md-3 courses">
        <course-item [course]="course"></course-item>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <pagination [paginator]="courses"></pagination>
    </div>
</div>