<h4>Активні екзамени</h4>
<ul>
    <li *ngFor="let ex of currentExaminations">
        <a routerLink="/examination/{{ ex.uuid }}">{{ ex.unit.name }} - {{ ex.status }} - {{ ex.created_at }}</a>
        <countdown-minutes [start]="ex.created_at"></countdown-minutes>
    </li>
</ul>