<div class="row">
    <div class="col-md-6">
        <div #slideshare></div>
    </div>
    <div *ngIf="theory; else notheory" class="col-md-6">

        <div *ngIf="theory.file">
            <h3>Файл для чтения</h3>
            <p>
                <a download href="{{theory.file.path}}">Скачать</a>
            </p>

            <hr>
        </div>
    </div>

    <ng-template #notheory>
        Здесь пусто. Нужно гуглить
    </ng-template>

    <div class="col-md-12">
        <button (click)="next()" class="btn btn-outline-info">Перейти к практике</button>
    </div>

</div>