<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin: 200px auto 0;">
            <div *ngIf="!saved">
                <h1>Створення акаунту</h1>
                <form novalidate [formGroup]="SignUp" (ngSubmit)="onSubmit(SignUp.value)">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Ім'я</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="name"
                                   formControlName="name"
                                   class="form-control"
                                   id="inputName"
                                   placeholder="Имя">

                            <div *ngIf="SignUp.controls['name'].touched">
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('name').hasError('required')">Поле обов'язкове для заповнення
                                </div>
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('name').hasError('minlength')">Мін. к-ть символів
                                    {{SignUp.get('name').getError('minlength').requiredLength}}
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email"
                                   name="email"
                                   formControlName="email"
                                   class="form-control"
                                   id="inputEmail"
                                   placeholder="Email">

                            <div *ngIf="SignUp.controls['email'].touched">
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('email').hasError('required')">Поле обов'язкове для заповнення
                                </div>
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('email').hasError('email')">Введіть коректний email
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="password"
                                   name="password"
                                   formControlName="password"
                                   class="form-control"
                                   id="inputPassword"
                                   placeholder="пароль">

                            <div *ngIf="SignUp.controls['password'].touched">
                                <div class="alert alert-danger"
                                     *ngIf="!SignUp.controls['password'].valid">Поле обов'язкове для заповнення
                                </div>
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('password').hasError('minlength')">Мін. к-ть символів
                                    {{SignUp.get('password').getError('minlength').requiredLength}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPasswordConfirmation" class="col-sm-2 col-form-label">Повторіть пароль</label>
                        <div class="col-sm-10">
                            <input type="password"
                                   name="password"
                                   formControlName="password_confirmation"
                                   class="form-control"
                                   id="inputPasswordConfirmation"
                                   placeholder="повторите пароль">

                            <div *ngIf="SignUp.controls['password_confirmation'].touched">
                                <div class="alert alert-danger"
                                     *ngIf="!SignUp.controls['password_confirmation'].valid">Поле обов'язкове для заповнення
                                </div>
                                <div class="alert alert-danger"
                                     *ngIf="SignUp.get('password').value !== SignUp.get('password_confirmation').value">
                                    Пароли не збігаються
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button [disabled]="!SignUp.valid" type="submit" class="btn btn-primary">Реєстрація
                            </button>
                            або
                            <a [namedRoute]="'authentication'">Війти</a>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="saved">
                <h3>{{confirmationText}}</h3>
            </div>
        </div>
    </div>
</div>