@import "~dhtmlx-gantt/codebase/dhtmlxgantt.css";

.icon {
    display: block;
    overflow: show;
}

.icon svg {
    max-width: 100%;
}

main {
    position: absolute;
}

.fullscreen {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.fullscreen .fs-icon {
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
}

.fullscreen .fs-icon .outline {
    fill: #82d44b;
}

.fullscreen .fs-icon .arrow {
    fill: #82d44b;
    -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
    -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
    -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
    -o-transition: prefixed-for-transition(-o-, fill 1s ease);
    transition: fill 1s ease;
}

.fullscreen .fs-icon .tl {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
    animation: tl 1s ease-in-out;
}

.fullscreen .fs-icon .tr {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
    animation: tr 1s ease-in-out;
}

.fullscreen .fs-icon .bl {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
    animation: bl 1s ease-in-out;
}

.fullscreen .fs-icon .br {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
    animation: br 1s ease-in-out;
}

.fullscreen:hover .fs-icon {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
}

.fullscreen:hover .fs-icon .arrow {
    fill: #098032;
    -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
    -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
    -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
    -o-transition: prefixed-for-transition(-o-, fill 1s ease);
    transition: fill 1s ease;
    -webkit-transition: prefixed-for-transition(-webkit-, transform 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, transform 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, transform 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, transform 0.5s ease-out);
    transition: transform 0.5s ease-out;
}

.fullscreen:hover .fs-icon .tl {
    -webkit-transform: translate(-4px, -4px);
    -moz-transform: translate(-4px, -4px);
    -ms-transform: translate(-4px, -4px);
    -o-transform: translate(-4px, -4px);
    transform: translate(-4px, -4px);
}

.fullscreen:hover .fs-icon .tr {
    -webkit-transform: translate(4px, -4px);
    -moz-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    -o-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
}

.fullscreen:hover .fs-icon .bl {
    -webkit-transform: translate(-4px, 4px);
    -moz-transform: translate(-4px, 4px);
    -ms-transform: translate(-4px, 4px);
    -o-transform: translate(-4px, 4px);
    transform: translate(-4px, 4px);
}

.fullscreen:hover .fs-icon .br {
    -webkit-transform: translate(4px, 4px);
    -moz-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    -o-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
}

.fullscreen:active .fs-icon {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
}

.fullscreen:active .fs-icon .arrow {
    fill: #82d44b;
    -webkit-transition: prefixed-for-transition(-webkit-, fill 1s ease);
    -moz-transition: prefixed-for-transition(-moz-, fill 1s ease);
    -ms-transition: prefixed-for-transition(-ms-, fill 1s ease);
    -o-transition: prefixed-for-transition(-o-, fill 1s ease);
    transition: fill 1s ease;
    opacity: 0;
}

.fullscreen:active .fs-icon .tl {
    -webkit-transform: translate(-60px, -60px);
    -moz-transform: translate(-60px, -60px);
    -ms-transform: translate(-60px, -60px);
    -o-transform: translate(-60px, -60px);
    transform: translate(-60px, -60px);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
    transition: 0.2s ease-out;
}

.fullscreen:active .fs-icon .tr {
    -webkit-transform: translate(60px, -60px);
    -moz-transform: translate(60px, -60px);
    -ms-transform: translate(60px, -60px);
    -o-transform: translate(60px, -60px);
    transform: translate(60px, -60px);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
    transition: 0.2s ease-out;
}

.fullscreen:active .fs-icon .bl {
    -webkit-transform: translate(-60px, 60px);
    -moz-transform: translate(-60px, 60px);
    -ms-transform: translate(-60px, 60px);
    -o-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
    transition: 0.2s ease-out;
}

.fullscreen:active .fs-icon .br {
    -webkit-transform: translate(60px, 60px);
    -moz-transform: translate(60px, 60px);
    -ms-transform: translate(60px, 60px);
    -o-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
    -webkit-transition: prefixed-for-transition(-webkit-, 0.2s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.2s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.2s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.2s ease-out);
    transition: 0.2s ease-out;
}

.fullscreen.full .fs-icon .tl, .fullscreen.full .fs-icon .br {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
}

.fullscreen.full .fs-icon .tr, .fullscreen.full .fs-icon .bl {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform: 50%;
    -webkit-transition: prefixed-for-transition(-webkit-, 0.5s ease-out);
    -moz-transition: prefixed-for-transition(-moz-, 0.5s ease-out);
    -ms-transition: prefixed-for-transition(-ms-, 0.5s ease-out);
    -o-transition: prefixed-for-transition(-o-, 0.5s ease-out);
    transition: 0.5s ease-out;
}

.fullscreen.full:hover .fs-icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.fullscreen.full:hover .fs-icon .tl {
    -webkit-transform: translate(-8px, -8px);
    -moz-transform: translate(-8px, -8px);
    -ms-transform: translate(-8px, -8px);
    -o-transform: translate(-8px, -8px);
    transform: translate(-8px, -8px);
}

.fullscreen.full:hover .fs-icon .tr {
    -webkit-transform: translate(8px, -8px);
    -moz-transform: translate(8px, -8px);
    -ms-transform: translate(8px, -8px);
    -o-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
}

.fullscreen.full:hover .fs-icon .bl {
    -webkit-transform: translate(-8px, 8px);
    -moz-transform: translate(-8px, 8px);
    -ms-transform: translate(-8px, 8px);
    -o-transform: translate(-8px, 8px);
    transform: translate(-8px, 8px);
}

.fullscreen.full:hover .fs-icon .br {
    -webkit-transform: translate(8px, 8px);
    -moz-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
}

@keyframes tl {
    0% {
        transform: translate(8px, 8px);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes tr {
    0% {
        transform: translate(-8px, 8px);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes bl {
    0% {
        transform: translate(8px, -8px);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes br {
    0% {
        transform: translate(-8px, -8px);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
