<ngx-loading-bar></ngx-loading-bar>
<div class="row">
    <div *ngIf="unit" class="col-md-12">
        <h3 class="text-center">Тема: {{unit.name}}</h3>
        <h5 *ngIf="unit.description" class="text-center">{{unit.description}}</h5>
    </div>
</div>

<countdown-minutes *ngIf="examination"
                   [start]="examination.created_at"
                   (onEnd)="onEndTime($event)"></countdown-minutes>

<div [hidden]="showTabs" class="row">

    <div *ngIf="examination" style="margin-top: 20px" class="col-md-12 text-center">
        <button *ngIf="examinationTabStatuses.EMPTY_TAB === examination.current_tab"
                (click)="go()" type="button" class="btn btn-outline-info btn-lg">Почати
        </button>
    </div>
</div>

<div *ngIf="showTabs">
    <ul class="nav nav-pills">
        <li *ngIf="isShow" class="nav-item">
            <a [routerLink]="['theory']"
               [class.disabled]="examinationTabStatuses.TEST === examination.current_tab"
               [routerLinkActive]="['active']"
               (click)="go(examinationTabStatuses.THEORY)"
               class="nav-link">Теорія</a>
        </li>
        <li *ngIf="isShow" class="nav-item">
            <a [routerLink]="['schema']"
               [class.disabled]="examinationTabStatuses.TEST === examination.current_tab"
               [routerLinkActive]="['active']"
               (click)="go(examinationTabStatuses.SCHEMA)"
               class="nav-link">Практика</a>
        </li>
        <li *ngIf="examinationTabStatuses.TEST <= examination.current_tab" class="nav-item">
            <a [routerLink]="['test']"
               [class.disabled]="examinationTabStatuses.TEST !== examination.current_tab"
               [routerLinkActive]="['active']"
               class="nav-link">Тест</a>
        </li>
    </ul>

    <router-outlet></router-outlet>
</div>