<div *ngIf="schema">
    <schema [instances]="instances"
            [schema]="schema"
            [config]="config"
            (onSave)="save($event)"
            (onUpdateModel)="onUpdateDiagram($event)">
    </schema>
</div>