<div class="row">
    <div class="col-md-12">

        <div *ngFor="let definition of definitions.data"
             class="media">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{definition.name}}</h5>
                <span *ngIf="definition.description">
                    {{definition.description}}
                </span>
            </div>
        </div>

        <pagination [paginator]="definitions"></pagination>
    </div>
</div>

