<div *ngIf="test" class="col-md-12">

    <test-slider [questions]="test.questions"></test-slider>

    <form novalidate #testForm="ngForm" (ngSubmit)="save(testForm)">

        <ul>
            <li *ngFor="let question of test.questions; let questionIndex = index"
                id="question_{{questionIndex}}"
                class="row">

                <div class="col-md-12">

                    <div class="form-group">
                        <h6>Питання({{questionIndex + 1}}) - {{question.name}}</h6>
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-3">
                    <ul>
                        <li *ngFor="let answer of question.answers">
                            <label [ngClass]="{'has-success': question.answer_id === answer.id}">
                                <input type="radio"
                                       name="question_{{question.id}}"
                                       [value]="answer.id"
                                       required
                                       [(ngModel)]="question.answer_id"
                                       (click)="setAnswer(answer, questionIndex)">
                                {{answer.name}}
                            </label>
                        </li>
                    </ul>
                </div>

                <div *ngIf="testForm.controls['question_' + question.id]">
                    <div *ngIf="testForm.controls['question_' + question.id].invalid && (testForm.controls['question_' + question.id].dirty || testForm.controls['question_' + question.id].touched)"
                         class="alert alert-danger">

                        <div *ngIf="testForm.controls['question_' + question.id].errors.required">Виберіть один з елементів
                        </div>

                    </div>
                </div>

            </li>

        </ul>

        <div class="row">
            <button [disabled]="!testForm.valid" type="submit" class="btn btn-primary btn-block">Завершити тест
            </button>
        </div>

    </form>

</div>