<div class="col-md-12">
    <a routerLink="/panel/" class="dropdown-item">Головна</a>
    <hr>
    <a routerLink="/panel/practice" class="dropdown-item" href="#">Практика</a>
    <hr>
    <a routerLink="/panel/definitions" class="dropdown-item" href="#">Поняття</a>
    <a routerLink="/panel/courses" class="dropdown-item" href="#">Курси</a>
    <hr>
    <a routerLink="/panel/statistics" class="dropdown-item" href="#">Статистика</a>
    <a (click)="logout()" class="dropdown-item">Вихід</a>
</div>