<div class="row">
    <div class="col-md-12">
        <a routerLink="/panel/practice/new">Додати</a>
    </div>

    <div class="col-md-12">
        <ul class="list-group mb-3">
            <li *ngFor="let schema of schemas.data"
                class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Ім'я {{schema.name ? schema.name : 'немає'}} ({{schema.type}})</h6>

                    <a routerLink="/panel/practice/{{schema.id}}">Редагувати</a>
                </div>
                <span class="text-danger">
                    <button (click)="remove(schema.id)" class="btn btn-danger btn-sm">Видалити</button>
                </span>
            </li>
        </ul>

    </div>
</div>

<pagination [paginator]="schemas"></pagination>